absl-py==1.4.0
aiofiles==23.2.1
aiohttp @ file:///rapids/aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
aiosignal @ file:///rapids/aiosignal-1.3.1-py3-none-any.whl
altair==5.3.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
apex==0.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout @ file:///rapids/async_timeout-4.0.2-py3-none-any.whl
attrs==23.1.0
audioread==3.0.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blis==0.7.9
brotli==1.2.0
cachetools==5.3.0
catalogue==2.0.8
certifi @ file:///rapids/certifi-2022.12.7-py3-none-any.whl
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle @ file:///rapids/cloudpickle-2.2.1-py3-none-any.whl
cmake==3.24.1.1
comm==0.1.3
confection==0.0.4
contourpy==1.0.7
cubinlinker @ file:///rapids/cubinlinker-0.2.2%2B2.g2f92cb3-cp310-cp310-linux_x86_64.whl
cuda-python @ file:///rapids/cuda_python-12.1.0rc5%2B1.gcdeccdd-cp310-cp310-linux_x86_64.whl
cudf @ file:///rapids/cudf-23.4.0-cp310-cp310-linux_x86_64.whl
cugraph @ file:///rapids/cugraph-23.4.0-cp310-cp310-linux_x86_64.whl
cugraph-dgl @ file:///rapids/cugraph_dgl-23.4.0-py3-none-any.whl
cugraph-service-client @ file:///rapids/cugraph_service_client-23.4.0-py3-none-any.whl
cugraph-service-server @ file:///rapids/cugraph_service_server-23.4.0-py3-none-any.whl
cuml @ file:///rapids/cuml-23.4.0-cp310-cp310-linux_x86_64.whl
cupy-cuda12x @ file:///rapids/cupy_cuda12x-12.0.0b3-cp310-cp310-linux_x86_64.whl
cycler==0.11.0
cymem==2.0.7
Cython==0.29.34
dask @ file:///rapids/dask-2023.3.2-py3-none-any.whl
dask-cuda @ file:///rapids/dask_cuda-23.4.0-py3-none-any.whl
dask-cudf @ file:///rapids/dask_cudf-23.4.0-py3-none-any.whl
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distributed @ file:///rapids/distributed-2023.3.2.1-py3-none-any.whl
einops==0.6.1
exceptiongroup==1.1.1
execnet==1.9.0
executing==1.2.0
expecttest==0.1.3
fastapi==0.103.2
fastjsonschema==2.16.3
fastrlock @ file:///rapids/fastrlock-0.8.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_24_x86_64.whl
ffmpy==1.0.0
filelock==3.12.0
flash-attn==1.0.5
fonttools @ file:///rapids/fonttools-4.39.3-py3-none-any.whl
frozenlist @ file:///rapids/frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
fsspec==2025.12.0
gast==0.4.0
glfw==2.6.1
google-auth==2.18.1
google-auth-oauthlib==0.4.6
gradio==3.35.2
gradio_client==0.6.1
graphsurgeon @ file:///workspace/TensorRT-8.6.1.2/graphsurgeon/graphsurgeon-0.4.6-py2.py3-none-any.whl
groovy==0.1.2
grpcio==1.54.2
h11==0.16.0
hf-xet==1.2.0
hf_transfer==0.1.9
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.2.3
hypothesis==5.35.1
idna==3.4
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imgui==2.0.0
importlib-metadata @ file:///rapids/importlib_metadata-6.6.0-py3-none-any.whl
importlib_resources==6.5.2
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.14
jsonschema==4.17.3
jupyter-tensorboard @ git+https://github.com/cliffwoolley/jupyter_tensorboard.git@ffa7e26138b82549453306e06b535a9ac36db17a
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab==2.3.2
jupyterlab-pygments==0.2.2
jupyterlab-server==1.2.0
jupytext==1.14.5
kiwisolver==1.4.4
langcodes==3.3.0
librosa==0.9.2
linkify-it-py==2.0.3
lit==16.0.5
llvmlite @ file:///rapids/llvmlite-0.39.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
locket @ file:///rapids/locket-1.0.0-py2.py3-none-any.whl
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==2.0.5
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
mock==5.0.2
mpmath==1.3.0
msgpack @ file:///rapids/msgpack-1.0.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
multidict @ file:///rapids/multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
murmurhash==1.0.9
narwhals==2.14.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==2.6.3
ninja==1.10.2
notebook==6.4.10
numba @ file:///rapids/numba-0.56.4%2B1.g48c75e48f-cp310-cp310-linux_x86_64.whl
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-cusparselt-cu12==0.7.1
nvidia-dali-cuda120==1.25.0
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.1.105
nvidia-pyindex==1.0.9
nvtx @ file:///rapids/nvtx-0.2.5-cp310-cp310-linux_x86_64.whl
oauthlib==3.2.2
onnx @ file:///opt/pytorch/pytorch/third_party/onnx
opencv @ file:///opencv-4.6.0/modules/python/package
orjson==3.11.5
packaging==23.1
pandas @ file:///rapids/pandas-1.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
pandocfilters==1.5.0
parso==0.8.3
partd @ file:///rapids/partd-1.4.0-py3-none-any.whl
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
pluggy==1.0.0
ply @ file:///rapids/ply-3.11-py2.py3-none-any.whl
polygraphy==0.47.1
pooch==1.7.0
preshed==3.0.8
prettytable==3.7.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil @ file:///rapids/psutil-5.9.4-cp310-abi3-linux_x86_64.whl
ptxcompiler @ file:///rapids/ptxcompiler-0.7.0%2B27.g601c71a-cp310-cp310-linux_x86_64.whl
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow @ file:///rapids/pyarrow-10.0.1.dev0%2Bga6eabc2b.d20230428-cp310-cp310-linux_x86_64.whl
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.10.4
pycocotools @ git+https://github.com/nvidia/cocoapi.git@fa44301f7a8b3f95a9f2751d19bfd735b0f6c65d#subdirectory=PythonAPI
pycparser==2.21
pydantic==1.10.26
pydantic_core==2.41.5
pydub==0.25.1
Pygments==2.15.1
pylibcugraph @ file:///rapids/pylibcugraph-23.4.0-cp310-cp310-linux_x86_64.whl
pylibcugraphops @ file:///rapids/pylibcugraphops-23.4.0-cp310-cp310-linux_x86_64.whl
pylibraft @ file:///rapids/pylibraft-23.4.0-cp310-cp310-linux_x86_64.whl
pynvml @ file:///rapids/pynvml-11.4.1-py3-none-any.whl
PyOpenGL==3.1.10
pyparsing==3.0.9
pyrsistent==0.19.3
pytest==7.3.1
pytest-rerunfailures==11.1.2
pytest-shard==0.1.2
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-hostlist==1.23.0
python-multipart==0.0.21
pytorch-quantization==2.1.2
pytz @ file:///rapids/pytz-2023.3-py2.py3-none-any.whl
PyYAML==6.0
pyzmq==25.0.2
raft-dask @ file:///rapids/raft_dask-23.4.0-cp310-cp310-linux_x86_64.whl
regex==2023.5.5
requests @ file:///rapids/requests-2.29.0-py3-none-any.whl
requests-oauthlib==1.3.1
resampy==0.4.2
rich==14.2.0
rmm @ file:///rapids/rmm-23.4.0-cp310-cp310-linux_x86_64.whl
rsa==4.9
safehttpx==0.1.7
scikit-learn @ file:///rapids/scikit_learn-1.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
scipy==1.15.3
seaborn @ file:///rapids/seaborn-0.12.2-py3-none-any.whl
semantic-version==2.10.0
Send2Trash==1.8.2
shellingham==1.5.4
six==1.16.0
smart-open==6.3.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sphinx-glpi-theme==0.3
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
sympy==1.13.1
tabulate==0.9.0
tbb==2021.9.0
tblib @ file:///rapids/tblib-1.7.0-py2.py3-none-any.whl
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorrt @ file:///workspace/TensorRT-8.6.1.2/python/tensorrt-8.6.1-cp310-none-linux_x86_64.whl
terminado==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
thriftpy2 @ file:///rapids/thriftpy2-0.4.16-cp310-cp310-linux_x86_64.whl
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.3
toolz @ file:///rapids/toolz-0.12.0-py3-none-any.whl
torch==2.5.1+cu121
torch-tensorrt @ file:///opt/pytorch/torch_tensorrt/py/dist/torch_tensorrt-1.4.0.dev0-cp310-cp310-linux_x86_64.whl
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado @ file:///rapids/tornado-6.3.1-cp38-abi3-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
tqdm==4.65.0
traitlets==5.9.0
transformer-engine @ git+https://github.com/NVIDIA/TransformerEngine.git@8e5f00f203ee518961bfb8febb017a2ffcc1d6b3
treelite @ file:///rapids/treelite-3.2.0-cp310-cp310-linux_x86_64.whl
treelite-runtime @ file:///rapids/treelite_runtime-3.2.0-cp310-cp310-linux_x86_64.whl
triton==3.1.0
typer==0.21.0
typer-slim==0.21.0
types-dataclasses==0.6.6
typing-inspection==0.4.2
typing_extensions==4.5.0
uc-micro-py==1.0.3
ucx-py @ file:///rapids/ucx_py-0.31.0-cp310-cp310-linux_x86_64.whl
uff @ file:///workspace/TensorRT-8.6.1.2/uff/uff-0.6.9-py2.py3-none-any.whl
urllib3==1.26.15
uvicorn==0.40.0
wasabi==1.1.1
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.3.4
xdoctest==1.0.2
xgboost @ file:///rapids/xgboost-1.7.5-cp310-cp310-linux_x86_64.whl
yarl @ file:///rapids/yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
zict @ file:///rapids/zict-3.0.0-py2.py3-none-any.whl
zipp @ file:///rapids/zipp-3.15.0-py3-none-any.whl
